@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
  box-sizing: border-box;
}

.profile {
  display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
border-radius: 275px;
}

img {
  width: 88px;
  border-radius: 50%;
}
#twitter {
  font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 30px;
text-align: center;
color: #101828;
}

#slack {
  display: none;
}

.links {
  display: flex;
flex-direction: row;
justify-content: center;
align-items: center;

}

ul li {
padding: 24px 32px;
gap: 8px;
list-style-type: none;

}

ul li button {
  width: 1152px;
  height: 76px;
  background: #EAECF0;
  border: 1px solid #EAECF0;
  text-align: center;
  display: inline-block;
  border-radius: 8px;
  cursor: pointer;
  transition-duration: 0.3s ease-in-out ;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

ul li button a {
  text-decoration: none;
  color: #101828;
  font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 28px;
}

ul li button:hover {
  transform: scale(1.1);
  /* box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19); */
}

.icons {

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  height: 72px;
width: 100%;
/* left: 112px;
top: 862px; */
border-radius: 0px;
padding: 24px 0px 24px 0px;
}

.icons img {
  width: 30px;
}

footer {
  display: flex;
/* flex-direction: column; */
align-items: center;
justify-content: center;
padding: 48px 0px;
gap: 64px;
}

footer img {
  border-radius: 0%;
}

footer a {
  text-decoration: none;
  font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #667085;
}